* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body {
    background-image: url(./assets/img/header/start-screen-gradient-background.jpg);
}

a {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-family: "Georgia", sans-serif;
    width: 184px;
    size: 35px;
    gap: 0px;
    opacity: 0px;
    margin: 0;
    font-size: 32px;
    line-height: 110%;
    font-weight: 400;
    color: #f1cdb3;
}

h2 {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    color: #fff;
}

h3 {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.text__align__center {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: "Arial", sans-serif;
    width: 1200px;
    height: 60px;
    margin-top: 30px;
    margin-left: 40px;
    opacity: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 573px;
}

.logo {
    width: 184px;
    height: 60px;
}

.subtitle__text {
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    width: 179px;
    height: 15px;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.nav {
    width: 443px;
    height: 27px;
    margin-top: 16px;
}

.nav__list {
    display: flex;
    list-style: none;
    width: 443px;
    height: 27px;
}

.nav__list__item {
    font-weight: 400;
    font-size: 15px;
    padding-right: 35px;
    line-height: 24px;
}

.nav__list__item:last-child {
    padding-right: 0;
}

.nav__list__item a {
    color: #CDCDCD;
}

.nav__list__item a:hover,
.active a {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.start__screen__content {
    width: 1200px;
    height: 548px;
    margin-top: 270px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.screen__content {
    width: 460px;
    height: 322px;
}

.start__screen__heading {
    width: 310px;
    height: 114px;
}


.start__screen__subheading {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    width: 460px;
    height: 72px;
    margin-top: 42px;

}

.long__button {
    border-radius: 100px;
    padding: 15px 45px;
}

.button_colored {
    width: 207px;
    height: 52px;
    background: #f1cdb3;
}

.button_start_screen {
    padding: 15px 45px;
    gap: 10px;
    border-radius: 100px 0px 0px 0px;
    margin-top: 42px;
}

.button__text {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
}

.position__button__start__screen {
    margin-top: 42px;
}

.dog__start__screen {
    width: 698px;
    height: 728px;
    margin-left: 502px;
    margin-top: -502px;
}

.about {
    width: 1280px;
    height: 588px;
    background: #fff;
}

.about__content {
    display:flex;
    justify-content: flex-start;
    width: 1200px;
    height: 408px;
    padding-top: 80px;
}

.about__pets__image {
    padding-left: 215px;
}

.about__pets__content {
    width: 430px;
    height: 380px;
    padding-top: 14px;
    padding-left: 120px;
}

.about__pets__subheading {
    width: 370px;
    height: 90px;
    padding-bottom: 25px;
}

.about__pets__text {
    width: 430px;
    height: 96px;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
    padding-bottom: 25px;
}






@font-face {
    font-family: "Georgia";
    src: url("./assets/fonts/georgia.ttf");
    font-style: normal; 
    font-weight: normal; 
  } 

@font-face {
    font-family: "Arial";
    src: url("./assets/fonts/arialmt.ttf");
    font-style: normal;
    font-weight: normal;
}